body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form, table {
    margin: auto;
    width: 50%;
    text-align: center;
}

button {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: center;
}





nav {
    background-color: #4CAF50; /* Green background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Light overlay on hover */
    color: #4CAF50; /* Change text color on hover */
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}


.background-image {
    background-image: url('./img/bg1.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay-text {
    color: white; /* Change text color as needed */
    text-align: center;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: Adds shadow for better readability */
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}