<!-- templates/login.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
</br>
</br>
</br>
    <h1>Login</h1><hr>
</br>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
    </br>
</br>
  <hr>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</br>
</br>
</br>
</br>
{% endblock %}