{% extends "base.html" %}
{% block title %}Upload File{% endblock %}

{% block content %}
</br>
</br>
<div class="container mt-5">
    <h3 class="mb-4">Upload File</h3>
</br>
    <!-- Upload Form -->
    <form action="" method="post" enctype="multipart/form-data" class="form-inline">
    <div class="form-group">
        <input type="file" name="file" class="form-control" required>
        <small class="form-text text-muted">
            Please upload a file: Microsoft Excel (.xls, .xlsx), CSV-UTF-8 (.csv), CSV (mentosh), TSV (.tsv)
        </small>
    </div>
        </br>
    <div class="form-group ml-2">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>


    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Show duplicate data if any -->
    {% if duplicates %}
    <div class="mt-5">
        <h3>Duplicate Data Found</h3>
        <table class="table table-striped table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Species</th>
                    <th>Chemical</th>
                    <th>Amount</th>
                    <th>DOI</th>
                </tr>
            </thead>
            <tbody>
                {% for row in duplicates %}
                <tr>
                    <td>{{ row.species }}</td>
                    <td>{{ row.chemical }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.doi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock %}


